body {
    background-image: url("../images/Crystal.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#fond {
    background-size: 100px 150px;
}

.button {
    background-color: rgb(0, 128, 254);
    border: 10px;
    border-radius: 5px;
    border-color: rgb(0, 2, 100);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    position: fixed;
    top: 42em;
    left: 110em;
    color: white;
    font-family: "press Start 2P", "consolas", sans-serif;
    cursor: pointer;
}

.button:hover {
    background-color: #0156a7;
  }

.logo {
    position: fixed;
    top: 8em;
    left: 65em;
  }